<h1><%= @user.name %></h1>
<% if current_user == @user %>
  <div class="col-md-4">
    <% if @user.avatar_file_name.nil? %>
        <%= form_for @user, url: user_path, html: { :multipart => true }, class: "form-group"  do |f| %>
          <%= f.label "Profile Picture" %>
          <%= f.file_field :avatar %>
          <%= f.submit "Add Profile Pic!", class: "btn btn-success btn-sm margin-high" %>
        <% end %>
      <% else %>
      <%= image_tag(@user.avatar.url(:medium)) %>
        <%= form_for @user, url: user_path, html: { :multipart => true }  do |f| %>
        <%= f.label "Profile Picture" %>
        <%= f.file_field :avatar %>
        <%= f.submit "Update Avatar", class: "btn btn-warning btn-sm margin-high" %>
        <% end %>
    <% end %>
    <% if @user.location.nil? %>
      <%= form_for @user, url: user_path, html: { :multipart => true }, class: "form-group"  do |f| %>
        <%= f.text_field :location, placeholder: "Enter Location", class: "margin-high" %>
        <%= f.submit "Submit location", class: "btn btn-success btn-sm block margin-high" %>
      <% end %>
    <% end %>
    <% if @user.bio.nil? %>
        <%= form_for @user, url: user_path, html: { :multipart => true }, class: "form-group"  do |f| %>
          <%= f.text_area :bio, cols: "60", rows: "10", placeholder: "Add Bio", class: "margin-high bio_text" %>
          <%= f.submit "Submit bio", class: "btn btn-success btn-sm block" %>
        <% end %>
    <% end %>
  </div>
<% end %>
<h1 class="pull-">Hey, I'm <%= @user.name %>!</h1>
<h5><%= @user.location %> | Member since <%= @user.created_at.strftime("%B %Y") %>  </h5>
<div class="col-md-8 content padding-sides">
  <h3>User Bio:</h3>
  <p><%= @user.bio %></p>


<% if current_user == @user %>
  <div class="row padding-sides">
    <h4>Upcoming Reservations</h4>
    <ul>
    <% @user.upcoming.each do |reservation| %>
      <li><%= link_to reservation.property.title, property_path(reservation.property) %> in <%= reservation.property.city %>, <%= reservation.property.state %></li>
        <ul>
          <li>Check in: <%= reservation.start_date.strftime("%m/%d/%Y") %> | Check out: <%= reservation.end_date.strftime("%m/%d/%Y") %></li>
        </ul>
    <% end %>
  </ul>
  </div>
  <div class="row padding-sides">
    <h4>Past Reservations</h4>
    <ul>
    <% @user.past.each do |reservation| %>
      <li><%= link_to reservation.property.title, property_path(reservation.property) %> in <%= reservation.property.city %>, <%= reservation.property.state %></li>
        <ul>
          <li>Check in: <%= reservation.start_date.strftime("%m/%d/%Y") %> | Check out: <%= reservation.end_date.strftime("%m/%d/%Y") %></li>
          <% if reservation.ratings.count == 0 %>
            <%= form_for @rating, url: ratings_path, method: :post do |f| %>
              <div class="row lead">
                <div id="stars" class="starrr"></div>
                <%= f.hidden_field :score, id: "score" %>
                <%= f.hidden_field :user_id, value: @user.id %>
                <%= f.hidden_field :property_id, value: reservation.property.id %>
                <%= f.hidden_field :reservation_id, value: reservation.id %>
                <%= f.submit "Rate", class: "btn btn-warning btn-xs" %>
              </div>
            <% end %>
          <% end %>
          <% if reservation.ratings.first != nil %>
            <%= link_to "Review Your Stay", edit_rating_path(reservation.ratings.first), id: "new_rating", remote: true, class: "btn btn-warning btn-xs" %>
          <% end %>
        </ul>
    <% end %>
  </ul>
  </div>
<% end %>
</div>
