<% content_for(:title, "Properties") %>

<%= form_tag properties_path, method: :get, class: 'margin-high' %>
<%= label_tag "Search" %>
<%= text_field_tag :query %>
<%= submit_tag "Submit", class: "btn btn-primary front" %>
<div class="col-md-6 clear-left pull-right">
<% if params[:query] %>
  <% if @city_results.count == 0 && @state_results.count == 0 %>
    <p>No results found.</p>
    <% end %>
<% end %>


<% if @city_results.count != 0 || @state_results.count != 0 %>
  <h3>Search results containing '<%= @search_term %>':</h3>
  <% if @city_results.count != 0 %>
    <h4>City Search Results:</h4>
    <ul>
      <% @city_results.each do |result| %>
        <li><%= link_to result.title, property_path(result) %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @state_results.count != 0 %>
    <h4>State Search Results:</h4>
    <ul>
      <% @state_results.each do |result| %>
        <li><%= link_to result.title, property_path(result) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<%= flash[:results] %>
</div>
<div class="col-md-6 margin-high">
  <% if @pictures.present? %>
    <%= render 'main_carousel' %>
  <% end %>
</div>
<div class="col-md-6 clear-left">
  <h1>Properties</h1>
<ul>
  <% @properties.each do |property| %>
    <li><%= link_to property.title, property_path(property) %></li>
  <% end %>
</ul>
</div>
