<% content_for(:title, "#{@property.title}") %>
<%= render 'layouts/errors', object: @reservation %>


<h1><%= @property.title %></h1> <h4>$<%= @property.price %></h4>
<div class="row">
  <div class="col-md-9" id="content">
    <div class="col-md-5" id="description">
      <%= @property.description %>
    </div>
    <div class="col-md-4 pull-right" id="details">
      <table class="table-striped table-bordered pull-right" id="details-table">
        <tr><td>City: </td><td class="info"><%= @property.city %></td></tr>
        <tr><td>State: </td><td class="info"><%= @property.state %></td></tr>
        <tr><td>Check In: </td><td class="info">3:00 PM</td></tr>
        <tr><td>Check Out: </td><td class="info">12:00 PM</td></tr>
        <tr><td>Cleaning Fee: </td><td class="info">$10</td></tr>
        <tr><td>Security Deposit: </td><td class="info">$150</td></tr>
        <tr><td>Pet Owner: </td><td class="info">Dog(s)</td></tr>
      </table>
    </div>
  </div>
<div class="col-md-3 pull-right">
  <div id="price-info">
    <p>From</p>
   <h4>$<%= @property.price %> per night</h4>
    <%= form_for @reservation, url: reservations_path do |f| %>
      <div class="form-group pull-right margin-right">
        <%= f.label :start_date %>
        <%= f.date_field :start_date %>
      </div>
      <div class="form-group pull-right margin-right">
        <%= f.label :end_date %>
        <%= f.date_field :end_date %>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :property_id, value: @property.id %>
      <%= f.submit "Book it", class: 'btn btn-warning margin-bottom' %>
   <% end %>
   <div class="blocked"><%= flash[:blocked] %></div>
 </div>
  <div id="owner-info">
   <%= image_tag("original.jpg", class: "img-responsive img-rounded", id: "picture") %>
   <h4><%= @property.user.name %></h4>
 </div>


</div>


</div>
